<div class="item">
	<div class="testimony-slide">
		<div class="testimony-wrap">
			<figure>
				<img src="<%= url %>" alt="user">
			</figure>
			<blockquote>
				<span><%= name %></span>
				<p><%= opinion %></p>
			</blockquote>
		</div>
	</div>
</div>

