<div id="<%= href %>" class="tab-pane fade in <%= active %> ">
	<div class="row">
		<div class="col-md-6">
			<div class="services-img" style="background-image: url(images/home/slide1.jpeg);"></div>
		</div>
		<div class="col-md-6">
			<div class="services-desc">
				<p class="contentHeaders"><%= rich_text %></p>
			</div>
		</div>
	</div>
</div>