<div class="col-md-4 text-center animate-box">
	<div class="services">
		<!-- <span class="icon">
			<i class="flaticon-engineer"></i>
		</span> -->
		<div class="desc">
			<h3><%= title %> </h3>
			<p><%= text %> </p>
		</div>
	</div>
</div>