<div class="col-md-3 animate-box">
<a href="#" class="staff-img staff-img2" style="background-image: url(<%= url %>)">
	<div class="desc-staff">
		<h3><%= name %></h3>
		<span><%= role %></span>
	</div>
</a>
</div>
